<article class="media box">
  <figure class="media-left">
    <div class="gravatar" style="width:64px; height:64px;">
      <img src="<%= asset_path('default_user.png') %>" />
    </div>
  </figure>
  <div class="media-content">
    <%= render 'form' %>
  </div>
</article>