<% if @error %>
  swal("Something went wrong!, try after sometime");
<% else %>
  $("#tweet-<%= @tweet.id %>").find('.likes-count').html("Likes: <%= @tweet.likes.count %>");
  $("#tweet-<%= @tweet.id %>").find('.dislike_cliked').replaceWith('<a class="like_cliked" data-tweet="<%= @tweet.id %>" href="javascript:void(0);"><i class="fas fa-thumbs-up"></i></a>');
<% end %>
$('.like_cliked').click(function(){
  var tweet_id = $(this).data('tweet');
  $.ajax({
    type: 'POST',
    url: '/tweets/'+tweet_id+'/likes',
    data: { 'tweet_id': tweet_id},
    dataType: "script",
    success: function () {
    },
    error: function () {
    }
  });
});